---
import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from "astro";
import Hero from "@components/Hero.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
  vignette?: string;
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  {
    !!frontmatter.vignette && (
      <Hero title={frontmatter.title} vignette={frontmatter.vignette}>
        <p>{frontmatter.description}</p>
      </Hero>
    )
  }
  <section class="container-md">
    {!frontmatter.vignette && <h1>{frontmatter.title}</h1>}
    <slot />
  </section>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  p {
    color: white;
  }
</style>
