---
import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from "astro";
import Hero from "@components/Hero.astro";
import SimilarPosts from "@components/SimilarPosts.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
  vignette?: string;
  tags?: string[];
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  {
    !!frontmatter.vignette && (
      <Hero title={frontmatter.title} vignette={frontmatter.vignette}>
        <p class="align-center">{frontmatter.description}</p>
      </Hero>
    )
  }
  <section class="container-md container-white">
    {!frontmatter.vignette && <h1>{frontmatter.title}</h1>}
    <slot />
    {
      !!frontmatter.tags && (
        <SimilarPosts
          tags={frontmatter.tags}
          currentTitle={frontmatter.title}
        />
      )
    }
  </section>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  p {
    color: white;
  }
  .align-center {
    text-align: center;
  }
</style>
