---
import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from "astro";
import Hero from "@components/Hero.astro";
import SimilarPosts from "@components/SimilarPosts.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
  vignette?: string;
  tags?: string[];
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  {
    !!frontmatter.vignette && (
      <Hero title={frontmatter.title} vignette={frontmatter.vignette}>
        <p class="align-center">{frontmatter.description}</p>
      </Hero>
    )
  }
  <section class="container-md container-white">
    {!frontmatter.vignette && <h1>{frontmatter.title}</h1>}
    <slot />
    {
      !!frontmatter.tags && (
        <SimilarPosts
          tags={frontmatter.tags}
          currentTitle={frontmatter.title}
        />
      )
    }
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/defensedesmilieuxaquatiques"
      method="post"
      target="popupwindow"
      onsubmit="
      window.open('https://buttondown.email/defensedesmilieuxaquatiques', 'popupwindow')
      "
      class="embeddable-buttondown-form mt-8 border-t-2 border-gray-300 pt-8"
    >
    <label class="block" for="email">Recevez la newsletter de DMA:</label>
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="votre adresse email"
        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
      />
      <input class="btn-hero ml-2 underline" type="submit" value="nous rejoindre" />
    </form>
  </section>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  p {
    color: white;
  }
  .align-center {
    text-align: center;
  }
</style>
